<app-nav [username]="user"></app-nav>
<div id="errors" class="alert alert-danger alert-dismissible" *ngIf="display_error">
    {{display_error}}    
</div>
<table>
    <thead>
        <tr>
            <th>
                <div>
                    <h1>My To Be Read List</h1>
                </div>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of books, let i = index">
            <td>
                <p><b>{{b.name}}</b></p>
                <p id="author"> by <em>{{b.author}}</em></p>
                <div id="right-hand" >
                    <label id="for_toberead" for="toberead">In To Be Read List:</label>
                    <input type="checkbox" id="{{b.name}}" name="toberead" checked (change)="toggleToBeRead($event)">
                </div>
                
            </td>
        </tr>
    </tbody>
</table>