table {
    width:95%;
    margin: auto;
    /* padding: 10px; */

    text-align: center;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: #ffff;
    border-radius: 5px;
    /*border: 2px solid rgba(153, 152, 152, 0.425);*/
}

td {
    background-color: #eeeeee;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px lightslategrey;
    border-bottom: thin black solid;

}


th {
    background-color: #6ba38c;
    border-radius: 5px;
    padding: 5px;
}

/* #review_stars, #author {
    float: right;
} */

.half {
    display: inline;
    width: 50%;
}

.right {
    float: right;
}

.left{
    float: left;
}

#for_toberead{
    font-size: x-small;
    padding-right: 5px;
}

#right-hand{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

/* input {
    width: 100px;
    height: 100px;
} */