<table>
    <thead>
        <tr>
            <th>
                <div>
                    <h1>To Be Read</h1><h2>{{user}}</h2>
                </div>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of books, let i = index">
            <td>
                <p>{{b.name}}
                    <!-- <span id="review_stars"><i *ngFor="let i of [].constructor(b.rating-0)" class="glyphicon glyphicon-star"></i><i *ngFor="let i of [].constructor(5-b.rating)" class="glyphicon glyphicon-star-empty"></i></span> -->
                </p>
                <div class="half right">
                    <input class="right" type="checkbox" id="{{b.name}}" name="toberead" checked (change)="toggleToBeRead($event)">
                </div>
                <span id="author"><em>{{b.author}}</em></span>
            </td>
        </tr>
    </tbody>
</table>