table {
    width:95%;
    margin: auto;
    /* padding: 10px; */

    text-align: center;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: #ffffff;
    border-radius: 5px;
    /*border: 2px solid rgba(153, 152, 152, 0.425);*/
}

td {
    background-color: #eeeeee;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0px lightslategrey;
    border-bottom: thin black solid;

}


th {
    background-color: #6ba38c;
    border-radius: 3px;
    padding: 5px;
}

#review_stars, #author {
    /* float: right; */
    margin-right: 0px;
}

#right-hand{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}