<app-nav></app-nav>

<div class="card">
    <div class="card-content">
        <h2 class="card-title">{{title}}</h2>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" [(ngModel)]="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" [(ngModel)]="password">
            </div>
            <button id="submit-btn" type="submit">Login</button>
            <button id="register-btn" type="button" (click)="setRegister()">Register</button>
        </form>
    </div>
</div>

<!-- <form (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" [(ngModel)]="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
    </div>
    <button type="submit">Login</button>
    <button type="button">Register</button>
</form> -->