<h1>Books</h1>
<div>
    <label for="search_book">Book name:</label>
    <input type="text" name="search_book" placeholder="search books" [(ngModel)]="search_book">
    <label for="search_author">Book author:</label>
    <input type="text" name="search_author" placeholder="search author" [(ngModel)]="search_author">
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Rating <i (click)="sortRating()" *ngIf="!sort_ascending" class="glyphicon glyphicon-sort-by-attributes"></i><i (click)="sortRating()" *ngIf="sort_ascending" class="glyphicon glyphicon-sort-by-attributes-alt"></i></th>
            <th>Favorited <i (click)="sortFavorited()" *ngIf="!sort_favorited" class="glyphicon glyphicon-sort-by-attributes"></i><i (click)="sortFavorited()" *ngIf="sort_favorited" class="glyphicon glyphicon-sort-by-attributes-alt"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | searchBooks: search_book:search_author">
            <td><a routerLink="/detail/{{book.id}}">{{book.name}}</a></td>
            <td>{{book.author}}</td>
            <td id="ratings"><i *ngFor="let i of [].constructor(book.rating-0)" class="glyphicon glyphicon-star"></i><i *ngFor="let i of [].constructor(5-book.rating)" class="glyphicon glyphicon-star-empty"></i></td>
            <td><input [(ngModel)]="book.favorited" type="checkbox"></td>
        </tr>
    </tbody>
</table>

<button type="button" (click)="addReview()" id="add_review">Add Review</button>

<form id="input_review" *ngIf="adding_review" (ngSubmit)="onSubmit()">
    <div class="inputs">
        <label for="book_name">Name:</label>
        <input id="book_name" name="book_name" type="text" [(ngModel)]="book_name">
    </div>
    <div class="inputs">
        <label for="book_author">Author:</label>
        <input id="book_author" name="book_author" type="text" [(ngModel)]="book_author">
    </div>
    <div class="inputs">
        <label for="book_rating">Rating:</label>
        <select [(ngModel)]="book_rating" name="book_rating" id="book_rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="inputs">
        <label for="book_review">Review:</label>
        <input id="book_review" name="book_review" type="textarea" [(ngModel)]="book_review">
    </div>
    <button type="submit">Submit</button>
</form>