<h1>Books</h1>
<div>
    <input type="text" name="search" placeholder="search books" [(ngModel)]="search">
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Rating <i (click)="sortRating()" *ngIf="!sort_ascending" class="glyphicon glyphicon-sort-by-attributes"></i><i (click)="sortRating()" *ngIf="sort_ascending" class="glyphicon glyphicon-sort-by-attributes-alt"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | searchBooks: search">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.rating}}</td>
        </tr>
    </tbody>
</table>

<button type="button" (click)="addReview()" id="add_review">Add Review</button>

<form id="input_review" *ngIf="adding_review" (ngSubmit)="onSubmit()">
    <div class="inputs">
        <label for="book_name">Name:</label>
        <input id="book_name" name="book_name" type="text" [(ngModel)]="book_name">
    </div>
    <div class="inputs">
        <label for="book_author">Author:</label>
        <input id="book_author" name="book_author" type="text" [(ngModel)]="book_author">
    </div>
    <div class="inputs">
        <label for="book_rating">Rating:</label>
        <select [(ngModel)]="book_rating" name="book_rating" id="book_rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="inputs">
        <label for="book_review">Review:</label>
        <input id="book_review" name="book_review" type="textarea" [(ngModel)]="book_review">
    </div>
    <button type="submit">Submit</button>
</form>